<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emory Cardozo</title>
</head>

<body>
    <center>
        <iframe width="1200" height="900"
            src="https://datastudio.google.com/embed/reporting/94143b30-b5f2-4b0a-8533-73d6d447d1ec/page/p_ojr7lrxczc"
            frameborder="0" style="border:0" allowfullscreen></iframe>
    </center>
</body>

</html>